.darkenTheBackground{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
}

//============== Table Title and Create button==================
.table-heading {
  float: left;
  margin: 0.3rem auto;
  max-width: 1500px;
  color: #fafbff;
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
  font-family: 'Orienta', sans-serif;
}

.event-create {
  float: right;
  margin: 0.5rem auto;
}

//=====Button Create====
.btn-create {
  background-color: darkcyan;
  color: darkred;
}

.btn-create:hover {
  background-color: darkolivegreen;
  color: antiquewhite;
}

//=========== Switch button  =========
.btn-switch:hover {
  background-color: darkolivegreen;
  color: antiquewhite;
}

//=========== Error Message  =========
.errMessage {
  color: #7a1114;
  text-align: right;
}

