.darkenTheBackground{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
}

.modal {
  padding: 1rem;
  background: #fff;
  margin-top: -3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 1rem;
}

.modal input {
  width: 300px;
  margin: 0 0 0.5rem 0;
  &.ng-invalid.ng-touched {
    border: 1px solid #ca0000;
  }

  &.ng-valid {
    border: 1px solid green;
  }
}

.modal textarea {
  width: 300px;
  margin: 0 0 0.5rem 0;
  &.ng-invalid.ng-touched {
    border: 1px solid #ca0000;
  }

  &.ng-valid {
    border: 1px solid green;
  }
}

.modal small {
  color: #ca0000;
  margin: 0 0 0.5rem 0;
}


.event-heading {
  position: absolute;
  margin: 0 auto;
  width: 150px;
  color: #8e0000;
  font-weight: normal;
  font-size: 25px;
  line-height: 40px;
  font-family: 'Orienta', sans-serif;
}

.event-create {
  float: right;
  margin: 0.5rem auto;
}

.btn-create {
  background-color: darkcyan;
  color: darkred;
}

.btn-create:hover {
  background-color: darkolivegreen;
  color: antiquewhite;
}

.btn-toggle {

}

.btn-toggle:hover {
  background-color: darkolivegreen;
  color: antiquewhite;
}

.errMessage {
  color: #7a1114;
  text-align: right;
}

