  <div class="container">
    <h2 class="event-heading"><strong>Events List</strong> </h2>
    <span class="event-create">
      <button class="btn btn-create" (click)= "createModal = true">Create Event</button>
      <app-create
        *ngIf= "createModal"
        title="Create modal"
        (close)="createModal = false"
      ></app-create>
    </span>
    <table>
      <thead>
      <tr class="event-headings" >
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Event Type</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let event of events">
        <td>{{event.name}}</td>
        <td>{{event.description}}</td>
        <td>{{event.date |date: 'dd-MMMM-yyyy'}}</td>
        <td>{{eventsType[event.eventType-1].type}}</td>
        <td>
          <button class="btn">Edit</button>
          <button class="btn" (click)="deleteEvent(event.id)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
