  <div class="container">
    <h2 class="event-heading">Events List</h2>
    <span class="event-create">
      <button class="btn btn-create" (click)= "createModal = true">Create Event</button>
      <app-create
        *ngIf= "createModal"
        title="Create modal"
        (close)="createModal = false"
      ></app-create>
    </span>
    <table>
      <thead>
      <tr class="event-headings" >
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Event Type</th>
        <th>Action</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let singleEvent of events">
        <td>{{singleEvent.name}}</td>
        <td>{{singleEvent.description}}</td>
        <td>{{singleEvent.date}}</td>
        <td>{{singleEvent.eventType}}</td>
        <td>
          <button class="btn">Edit</button>
<!--          <button class="btn btn-edit">Edit</button>-->
          <button class="btn" (click)="deleteEvent($event)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
