.event-create {
  float: right;
  margin: 0.5rem auto;
}

.btn-create {
  background-color: darkcyan;
  color: darkred;
}

.btn-create:hover {
  background-color: darkolivegreen;
  color: antiquewhite;
}


