  <div class="container">
    <span class="event-heading">Events List</span>
    <span class="event-create">
      <button class="btn btn-create">Create Event</button>
    </span>
    <table>
      <thead>
      <tr class="event-headings">
        <th>Name</th>
        <th>Description</th>
        <th>Date</th>
        <th>Event Type</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>Event</td>
        <td>Event Description</td>
        <td>Date</td>
        <td>GroupEvent</td>
        <td>
          <button class="btn btn-details">Details</button>
          <button class="btn btn-edit">Edit</button>
          <button class="btn btn-delete">Delete</button>
        </td>
      </tr>
      <tr>
        <td>Event</td>
        <td>Event Description</td>
        <td>Date</td>
        <td>GroupEvent</td>
        <td>
          <button class="btn btn-details">Details</button>
          <button class="btn btn-edit">Edit</button>
          <button class="btn btn-delete">Delete</button>
        </td>
      </tr>
      <tr>
        <td>Event</td>
        <td>Event Description</td>
        <td>Date</td>
        <td>GroupEvent</td>
        <td>
          <button class="btn btn-details">Details</button>
          <button class="btn btn-edit">Edit</button>
          <button class="btn btn-delete">Delete</button>
        </td>
      </tr>
      <tr>
        <td>Event</td>
        <td>Event Description</td>
        <td>Date</td>
        <td>GroupEvent</td>
        <td>
          <button class="btn btn-details">Details</button>
          <button class="btn btn-edit">Edit</button>
          <button class="btn btn-delete">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
