.darkenTheBackground{
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0, 0, 0, .5);
}

.modal {
  padding: 1rem;
  background: #fff;
  margin-top: -3rem;
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0);
  border-radius: 1rem;
}

.modal input {
  width: 300px;
  margin: 0 0 0.5rem 0;
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  &.ng-valid {
    border: 1px solid green;
  }
}

.modal textarea {
  width: 300px;
  margin: 0 0 0.5rem 0;
  &.ng-invalid.ng-touched {
    border: 1px solid red;
  }

  &.ng-valid {
    border: 1px solid green;
  }
}

.space {
  margin: 1rem 0.5rem;
}
