/* You can add global styles to this file, and also import other style files */

:root {
  --primary-color: #7a1114;
  --dark-color: #333333;
  --light-color: #f4f4f4;
  --danger-color: #dc3545;
  --success-color: #28a745;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;
  font-family: 'Roboto', sans-serif;
  font-size: 0.8rem;
  line-height: 1.6;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url("Images/Triangular White Background.jpg") no-repeat fixed;
  background-size: 100% 100%;
  color:darkseagreen;
  z-index: 0;
  text-align: center;
}

.container {
  max-width: 1100px;
  margin: auto;
  overflow: hidden;
  padding: 0 3rem;
}

//====== Card style ========================================

.card {
  display:inline-block;
  padding: 1rem;
  border: #666666 1px dotted;
  border-radius: 5px;
  margin: 0.7rem 1rem;
  min-height: 250px;
  width: 250px;

}

.card:hover {
    border: #660a11 1px dotted;
    background-color: #484846;
    width: 260px;
    min-height: 255px;
    transition: 0.3s ease;
    h2 {
      color: #954015;
      transition: 0.7s ease;
    }
    #desc {
      background-color: #545453;
      transition: 0.7s ease;
      border-radius: 1rem;
    }
  }

.card-header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 1rem;
  }

.card-content {
    margin-bottom: .5rem;
    border-radius: 1rem;
  }

//====== Button style ========================================

.btn {
  display: inline-block;
  background: #cccccc;
  color: #333;
  padding: 0.4rem 1.3rem;
  font-size: 0.8rem;
  border: none;
  cursor: pointer;
  margin-right: 0.5rem;
  transition: opacity 0.2s ease-in;
  outline: none;

  &:disabled {
    cursor: not-allowed;
    background: var(--light-color);
    color: #111;
  }
}


.btn-primary{
  background: var(--primary-color);
  color: #fff;
}

.btn-light {
  background: var(--light-color);
  color: #333;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-danger {
  background: var(--danger-color);
  color: #fff;
}

.btn-success {
  background: var(--success-color);
  color: #fff;
}

.btn-white {
  background: #fff;
  color: #333;
  border: #ccc solid 1px;
}

.btn:hover {
  opacity: 0.8;
}

//====== Form style ========================================

.form-control {
  display: block;
  color: #3f4b3d;
  margin-bottom: .3rem;

  &.invalid {
    color: var(--primary-color);
    input {
      border-color: var(--primary-color);
    }
  }

  .validation {
    color: var(--primary-color);
    }
}

input[type='text'],
input[type='email'],
input[type='password'],
input[type='date'],
select,
textarea {
  display: block;
  width: 100%;
  padding: 0.4rem;
  font-size: 1.2rem;
  border: 1px solid #ccc;
}

//====== Table  style ================================

table {
  width: 100%;
  border-collapse: collapse;
}

table th,
table td {
  padding: 0.8rem;
  text-align: left;
  background-color: #4e5a4c;
  max-width: 200px;
}

table th {
  background: darkslategrey;
}

//====== NavBar style ===========================

.navbar {
  display: flex;
  justify-content:flex-end;
  padding: 0.7rem 2rem;
  z-index: 1;
  width: 100%;
  opacity: 0.9;
  margin-bottom: 2rem;
}
